<!--
    Class: CST205
    Author:Cathy Hsu
    Description: our home and landing page-->

<!doctype html>
<html lang="en">
  <head>
    {% block head %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      {% block styles %}
        {{ bootstrap.load_css() }}
      {% endblock %}
      <title>CST 205 Final Project</title>
    {% endblock %}
  </head>
<body>
  {% block content %}
    <div class="container mb-4">  
      <div class="card mt-4">
        <div class="card-body">
          <h2 class="card-title">Search for recipes!</h2>
          <form method="POST" action="/">
            {{ form.csrf_token }}
            {{ form.search_term.label }} 
            {{ form.search_term(size=32) }}
            {{ form.image_format.label }}
            {{ form.image_format }}
            <!--<label for="image-filter">Image Filters</label>
            <select id="image-filter" name="image-filter">
                <option value="none">{{ form.image_format.label }}</option>
                <!--<option value="grayscale">Grayscale</option>
                <option value="negative">Negative</option>
                <option value="sephia">Sephia</option>
            </select>-->
            <input type="submit" value="Submit">
          </form>
        </div>
      </div>
    </div>
  {% endblock %}
</body>
</html>